
.fontclass {
    width: 100px; 
}
.svg-inline--fa {
    height: 1.8em;    
    vertical-align: -1.15em;
}
.display-6 {
    font-size: 2.5rem;
    padding-right: 50px;
}
svg:not(:root).svg-inline--fa, svg:not(:host).svg-inline--fa {
    
    padding-top: 10%;
}